<div class="auth-main">
  <div class="row h-100">
    <div class="col-6 p-0">
      <img src="assets/auth/side.jpg" class="w-100 h-100" alt="">
    </div>
    <div class="col-6 p-0  p-relative">
      <div class=" auth-form px-5">
        <img src="assets/auth/side.jpg" alt="" class="auth-logo">
        <div class="auth-title">
          NEED TECHNOSOFT
        </div>
        <div class="form-group">
          <!-- <label >Email</label> -->
          <input type="email" class="form-control" placeholder="Email" [(ngModel)]="email">
        </div>
        <!-- <br> -->
        <div class="form-group">
          <!-- <label >Email</label> -->
          <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password">
        </div>
        <div class="form-group">
          <button class="submit-button" (click)="login()" *ngIf="!auth.loading">
            Login
          </button>
          <div class="text-center p-2 py-3" *ngIf="auth.loading">
            <spinner color="#E8F0FE"></spinner>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
