<div class="wBall" id="wBall_1" style="height:{{size}}px;width:{{size}}px;">
    <div class="wInnerBall" style="background:{{color}};"></div>
</div>
<div class="wBall" id="wBall_2" style="height:{{size}}px;width:{{size}}px;">
    <div class="wInnerBall" style="background:{{color}};"></div>
</div>
<div class="wBall" id="wBall_3" style="height:{{size}}px;width:{{size}}px;">
    <div class="wInnerBall" style="background:{{color}};"></div>
</div>
<div class="wBall" id="wBall_4" style="height:{{size}}px;width:{{size}}px;">
    <div class="wInnerBall" style="background:{{color}};"></div>
</div> 
<div class="wBall" id="wBall_5" style="height:{{size}}px;width:{{size}}px;">
    <div class="wInnerBall" style="background:{{color}};"></div>
</div>